body{
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    justify-items: center;
    margin: 0;
}

h1{
    text-align: center;
}

h2{
    text-align: left;
}

.ui{
    background-color: rgba(255, 255, 255, 0.776);
    width: 30%;
    max-height: max-content;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 1px 4px 27px 4px rgba(0,0,0,0.69);
    padding-top: 1px;
}

.title1{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 0;
    width: 99%;
}

.choice {
    position: absolute;
    top: 40%;
    left: 35%;
    border: 2px solid black;
    width: 30%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 4px 27px 4px rgba(0,0,0,0.69);
}

.logo_dex{
    width: 20%;
    padding-top: 33%;
    padding-left: 45%;
    height: 20%;
}

.child{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    padding-left: 65px;
    gap: 12%;
}

.clickers{
    padding-left: 50px;
}

input{
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 95%;
    padding: 8px;
    font-size: larger;
}

input[type="radio"]{
    width: 5%;
}

input[type="file"]{
    border: none;
    padding-top: 0px;
}

input:focus{
    border: 1px solid black;
}

.clickers{
    padding-top: 3%;
    display: flex;
    gap: 30%;
}

.info{
    justify-items: center;
}

button{
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
    padding: 8px;
}

button[type="submit"]{
    background-color: rgb(0, 183, 255);
}

button:hover{
    background-color: rgb(3, 133, 185);
}

button[class="tolist"]{
    background-color: rgb(75, 188, 75);
}

button[class="tolist"]:hover{
    background-color: rgb(51, 146, 51);
}

button[class="admin"]{
    background-color: red;
}

button[class="admin"]:hover{
    background-color: rgb(182, 15, 15);
}

.back{
    text-align: center;
    padding-top: 1%;
    font-size: larger;
}

.backers{
    background-color: red;
    width: 200px;
    padding: 5px;
    color: white;
}

.backers:hover{
    background-color: rgb(182, 15, 15);
}

.backers1{
    background-color: rgb(75, 188, 75);
    width: 200px;
    padding: 5px;
    color: white;
}

.backers1:hover{
    background-color: rgb(51, 146, 51);
}

#back{
    background-color: red;
    color: white;
}

#back:hover{
    background-color: rgb(182, 15, 15);
}

input{
    font-size: larger;
}

table{
    width: 200%;
    border-collapse: collapse;
    background: white;
    box-shadow: 1px 4px 27px 4px rgba(0,0,0,0.69);
}

th{
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.651);
}

.classTH:hover{
    background-color: rgba(128, 128, 128, 0.651);
    color: black;
}

td{
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.dev{
    padding-top: 10px;
    text-align: center;
}

.pic{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

table{
    background-color: rgba(255, 255, 255, 0.776);
}


tr{
    border-radius: 10px;
}

tr:hover{
    background-color: rgb(75, 188, 75);
    color: white;
}

.setting{
    text-decoration: none;
}

.setting:hover{
    text-decoration: underline;
}

.setting1{
    text-decoration: none;
    color: red;
}

.setting1:hover{
    text-decoration: underline;
}

#del{
    color: red;
}

a{
    color: blue;
    margin: 0 5px;
}
