body{
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    margin: 40px;
    justify-items: center;
}

h1{
    text-align: center;
}

h2{
    text-align: left;
}

.ui{
    background-color: rgba(255, 255, 255, 0.776);
    width: 30%;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 1px 4px 27px 4px rgba(0,0,0,0.69);
}

.clickers{
    padding-left: 50px;
}

.title{ 
    padding-bottom: 20px;
}

form input{
    padding: 8px;
    margin: 5px;
    font-size: larger;
}

input{
    font-size: larger;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.776);
    width: 95%;
    text-align: left;
}

input:focus{
    border: 1px solid black;
}

.clickers{
    padding-top: 3%;
    display: flex;
    gap: 30%;
}

.info{
    justify-items: center;
}

button{
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
    padding: 8px;
}

button[type="submit"]{
    background-color: rgb(0, 183, 255);
}

button:hover{
    background-color: rgb(3, 133, 185);
}

button[class="tolist"]{
    background-color: rgb(75, 188, 75);
}

button[class="tolist"]:hover{
    background-color: rgb(51, 146, 51);
}

.back{
    text-align: center;
    padding-top: 1%;
    font-size: larger;
}

.backers{
    background-color: rgb(0, 183, 255);
    width: 200px;
    padding: 5px;
}

input{
    font-size: larger;
}

table{
    width: 200%;
    border-collapse: collapse;
    background: white;
    box-shadow: 1px 4px 27px 4px rgba(0,0,0,0.69);
}

th{
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.651);
}

.classTH:hover{
    background-color: rgba(128, 128, 128, 0.651);
    color: black;
}

td{
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

table{
    background-color: rgba(255, 255, 255, 0.776);
}

tr{
    border-radius: 10px;
}

tr:hover{
    background-color: rgb(75, 188, 75);
    color: white;
}

.setting{
    text-decoration: none;
}

.setting:hover{
    text-decoration: underline;
}

#del{
    color: red;
}

a{
    color: blue;
    margin: 0 5px;
}
